* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    overflow: hidden;
}

/* ===== NOME CENTRAL ===== */
.main-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.logo {
    font-size: 100px;
    font-weight: bold;
    letter-spacing: 6px;
}

.subtitle {
    margin-top: 20px;
    font-size: 20px;
    opacity: 0.7;
}

/* ===== MENU LATERAL DIREITA ===== */
.sidebar {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    padding-right: 30px;
}

.sidebar ul {
    list-style: none;
    text-align: right;
}

.sidebar li {
    margin: 25px 0;
}

.sidebar a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #00ff88;
    transform: translateX(-8px);
}
